.div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.input {
  height: 50px;
  width: 100%;
  padding: 0 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid var(--black);
  color: var(--black);

  &:focus {
    outline: none;
    border-color: var(--orange);
    border-width: 1.5px;
  }
}

.input::placeholder {
  color: rgba(#242424, 0.6);
  font-weight: 300;
}