@mixin button {
  border: 1px solid white;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  font-size: 1rem;

  svg {
    fill: white;
  }

  &:hover {
    background-color: white;
    color: var(--black);

    svg {
      fill: var(--black);
    }
  }
}