.main {
  padding: 40px;
  background-color: white;
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  width: 100%;

  h1, p {
    margin: 0;
    line-height: 0.8 !important;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.5rem;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
  }

  h1 + p {
    margin-top: 20px;
  }

  section:nth-child(2) {
    margin-top: 48px;
  }

  .kpi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
  }

  section:last-of-type {
    margin-top: 64px;
  }

  .graph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}