.main {
  padding: 40px;
  width: 100%;
  background-color: white;
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: auto;

  h1, p {
    margin: 0;
    line-height: 0.8 !important;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.5rem;
  }

  h1 + section {
    margin-top: 30px;
  }

  & > section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
  }
}